
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#book">Book</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <li class="nav_right"><a href="#signup">Sign up</a></li>
  <li class="nav_right"><a href="#login">Login</a></li>

</ul>


<div class="center">

<h1> BOOK YOUR FAVOURITE BARBER NOW </h1>
<input class="searchbar" type="text" placeholder="Location">
<button type="submit" class="search_button"> <img src="assets/search.png" height="13" width="13"> </button>

</div>

<router-outlet></router-outlet>
