body{
    font-family: Roboto;
  
    background-color: #549fc2;
  
  }
  
  h1 {
    color:#1685b8;
     text-shadow: 1px 1px #000000;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #1685b8;
  }
  
  .nav_right {
    float:right
    }
  
  
  .center {
    position: fixed;
    top: 45%;
    left: 25%;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  
  .searchbar {
      display: inline-block;
      width: 85%;
      float: left;
      text-align: left;
      margin: 0px;
      padding: 14px;
      border: 1px solid #ccc;
  }
  
  .search_button{
    display: inline-block;
    width: 10%;
    float: left;
    padding: 12.5px;
    background: #1685b8;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin: 0px;
  }
  
  .search_button:hover{
     background: rgb(27, 94, 170);
  }